#open{
    width: 815px;
    height: 200px;
}
#kol1{
	width: 315px;
	height: 200px;
	float: left;
}
#kol1 img{
    width: 315px;
    height: 200px;
}
#kol2{
	width: 500px;
	height: 200px;
	float: right;
	background-image: url("img/poz1.png");
}
#kol2 h2{
	margin-left: 10px;
	font-family: arial;
	color: black;
	margin-bottom: 7px;
}
#kol2 h3{
    margin-left: 11px;
    margin-top: 5px;
    font-family: arial;
    color: #000;
    margin-bottom: 13px;
}
#infokol2{
	width: 500px;
	height: 50px;
}
#vreme{
    width: 100px;
    height: 50px;
    background-color: #DA1C03;
    margin-right: 20px;
    float: right;
}
#vreme h4{
    color: #FFF;
    font-family: arial;
    padding: 17px;
    margin: 0px;
    padding-left: 32px;
}