a{
	text-decoration: none;
	color: black;
}
a:hover{
	color: #DA1C03;
}


.receptistr{
    width: 200px;
    height: 250px;
    margin: 0px;
    float: left;
    padding: 25px;
}
.receptishape{
    width: 200px;
    height: 250px;
    float: left;
	background-image: url("img/poz1.png");
}
.receptislika{
	width: 200px;
	height: 100px;
}
.receptislika img{
	width: 200px;
	height: 100px;
}
.receptitekst h3{
    margin: 9px 10px 8px 4px;
    font-family: arial;
    font-size: 18px;
}
.receptitekst h4{
    margin: 6px;
    font-family: arial;
    font-size: 13px;
    margin-bottom: 5px;
}
.receptivise{
	width: 200px;
	height: 30px;

}
.receptivise h4{
    float: right;
    font-family: arial;
    font-size: 13px;
    margin: 0px;
    padding: 7px;
    margin-right: 10px;
}