body{
	background-color: #fafaee;
}
a{
	text-decoration: none;
}

.cisti{
	clear: both;
}
#body{
	background-color: #fafaee;
	width: 1280px;
	height: 1000px;
	margin: auto;
}
/*#brendinglevo{
	float: left;
	background-color: red;
	width: 250px;
	height: 1000px;
}
*/
#nav{
	background-image: url("img/poz1.png");
	width: 1280px;
	height: 200px;
	margin: auto;
}
.logo{
	width: 200px;
	height:200px;
	float: left;
	margin-left: 50px;
}
.logo img{
	width: 180px;
	height:180px;
}
#socialmedia{
    height: 30px;
    width: 440px;
    float: left;
}
#socialmedia p{
    color: #da1c03;
    font-family: Arial;
    font-size: 13pt;
    padding: 5px;
    margin: 0px;
    float: left;
    margin-left: 232px;
}
#socialmedia img{
	margin-left: 5px;
	float: right;
}

#navdesno{
	float: right;
	height: 200px;
	width: 500px;
}
#reklamadesno{
    width: 440px;
    height: 120px;
    margin-top: 48px;
}
#reklamadesno img{
	width: 440px;
    height: 120px;
}
#section{
	width: 1280px;
	background-color: #fafaee;
	height: 1000px;
}
#section1{
	width: 1280px;
	height: 24px;
	background-image: url("img/section1.png");
}
#section2{
	width: 1280px;
	height: 500px;
}
#section3{
	width: 1280px;
	height: 120px;
}
#vremediv{
	width: 400px;
	height: 120px;
	margin-left: 50px;
	float: left;
}
#vremenaslov{
	width: 400px;
	height: 50px;
	background-color: #da1c03;
	float: left;
}
#vremenaslov p{
    color: #FFF;
    font-family: Arial;
    font-size: 18pt;
    padding: 11px 9px 9px 19px;
    margin: 0px;
    float: left;
}
#opseg{
    width: 400px;
    /*height: 112px;*/
}
#opseg input{
    padding: 22px;
    width: 285px;
}
#reklamadiv{
	width: 500px;
	height: 110px;
	background-image: url("img/rekdemo.gif");
	float: left;
	margin-left: 45px;
}

#vrednost{
	position: relative;
    bottom: 25px;
    color: red;
    font-family: arial;
	font-weight: bold;
}

#dugmediv{
    width: 50px;
    height: 185px;
    float: right;
    margin-right: 200px;
}
#dugmediv img{
    height: 110px;
    width: 185px;
}

#dugmediv img:hover{
    -webkit-filter: hue-rotate(120deg); 
    filter: hue-rotate(120deg); 
}

#hover_id:hover{
    -webkit-filter: hue-rotate(120deg); 
    filter: hue-rotate(120deg); 
}

#section4{
	width: 1280px;
	height: 500px;
	background-color: #fafaee;
}
#section5{
	width: 1280px;
	height: 150px;
background-image: url("img/poz1.png");
}
#receptdana{
    border: 2px dashed #da1c03;
    padding: 20px;
    width: 180px;
    height: 100px;
    margin-left: 50px;
    margin-top: 15px;
    float: left;
}

#receptdana h3{
	margin: 0;
    font-family: Arial;
}
#receptdana h4{
	margin-top:5px;
	font-family: Arial;
    color: #da1c03;
}
#kontaktfuter{
    float: left;
    width: 703px;
    height: 144px;
    margin-top: 15px;
    margin-left: 15px;
}
#kontaktfuter h3{
	margin-top: 35px;
	text-align: center;
	font-family: arial;
	font-weight: bold;
	font-size: 14px;
}
#kontaktfuter h4{
	margin: 0px;
	text-align: center;
	font-family: arial;
	font-weight: bold;
	font-size: 12px;
}

#predlog{
    border: 2px dashed #da1c03;
    padding: 20px;
    width: 180px;
    height: 100px;
    margin-right: 50px;
    margin-top: 15px;
    float: right;
}
#predlog h3{
	margin: 0;
    font-family: Arial;
    font-size: 16px;
}
#predlog h4{
	margin-top:5px;
	font-family: Arial;
    color: #da1c03;
}
